@import url('https://fonts.googleapis.com/css?family=Poppins');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.global-font-style {
    font-family: 'Poppins';
}